*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(black);
    color: rgb(209, 203, 203);
}
.transparente{

    background-color: aliceblue;
    border: 1px solid rgb(187, 187, 187);
    color: rgb(129, 127, 127);
    border-radius: 5px;
    width: 200px;

}


#contenedor{
    width: 60%;
    margin: 5px auto;
    border: 4px rgb(255, 255, 255) solid;
    border-radius: 10px;
    text-align: center;
}

img {
    border-radius: 100%;
    width: 90px;
    height:90px;
  }
  
 #nombre{
     background: transparent;
     color: #ffffff;
 }
 
  #apellidos{
     background: transparent;
     color: #ffffff;
 }
 
  #municipio{
     background: transparent;
     color: white;
 }
 
  #estado{
     background: transparent;
     color: #ffffff;
 }
 
  #Codigo{
     background: transparent;
     color: #ffffff;
 }
 
  #numero{
     background: inherit;
     color: #ffffff;
     text-align: left;
 }
 
  #date{
     background: transparent;
     color: #ffffff;
 }
 
  #termino{
     background: transparent;
     color: #ffffff;
 }
 
  #msg{
     background: transparent;
     color: #ffffff;
 }
 
  #imagen{
     background: transparent;
     color: #ffffff;
 }
 #ACEPTAR{
background-color: transparent;
color: white;
 }